In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#https://hdr.undp.org/sites/default/files/2023-24_HDR/HDR23-24_Composite_indices_complete_time_series.csv
df_hd = pd.read_csv('../Trabalho UX/HDI.csv', sep=',', encoding='ANSI',low_memory=False)

In [6]:
df_hd.head().T

                          0         1          2          3          4
iso3                    AFG       ALB        DZA        AND        AGO
country         Afghanistan   Albania    Algeria    Andorra     Angola
hdicode                 Low      High       High  Very High     Medium
region                   SA       ECA         AS        NaN        SSA
hdi_rank_2022         182.0      74.0       93.0       35.0      150.0
...                     ...       ...        ...        ...        ...
pop_total_2018    36.686784  2.877013  41.927007   0.075013  31.273533
pop_total_2019    37.769498  2.873883  42.705368   0.076343  32.353588
pop_total_2020    38.972231  2.866849  43.451666     0.0777  33.428486
pop_total_2021    40.099462   2.85471  44.177968   0.079034  34.503774
pop_total_2022    41.128771  2.842321  44.903225   0.079824  35.588987

[1076 rows x 5 columns]